@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg: #0A0A0B;
  --panel: #101113;
  --text: #ECEDEF;
  --muted: #A1A1AA;
  --red: #E11D2E;
  --red-500: #FF1D32;
  --accent-start: #ff1b2d;
  --accent-end: #ff7a18;
  --border: rgba(255, 61, 61, 0.25);
  --glow: 0 0 30px rgba(255, 45, 45, .25);
}

html, body {
  @apply font-sans bg-[var(--bg)] text-[var(--text)];
}
